body{
}

.priv h1{
  color: white;
  margin-top: 10%;
  text-shadow: 1px 1px 2px black, .1em 0 0em black;
}

.button_m{
  text-align: center;
  padding: 1em 1em 1em;
}
.button_m>a:hover{
  padding: 1.1em 2.7em 1.1em;
  transition-duration: 0.4s;
  font-size: 1.7em;
  background-color: #fff;
  color: black;
}
.button_m>a{
color: white;
font-size: 1.5em;
text-decoration: none;
border: 2px solid #fff;
padding: 1em 2em 1em;
transition-duration: 0.4s;
}