body{
}

#conten{
  margin-top: 5em;
}

.priv h1{
  color: white;

  margin-top: 10%;
  text-shadow: 1px 1px 2px black, .1em 0 0em black;
}

.button_m{
  text-align: center;
  padding: 1em 1em 1em;
}
.button_m>a:hover{
  padding: 1.1em 2.7em 1.1em;
  transition-duration: 0.4s;
  font-size: 1.7em;
  background-color: #fff;
  color: black;
}
.button_m>a{
color: white;
font-size: 1.5em;
text-decoration: none;
border: 2px solid #fff;
padding: 1em 2em 1em;
transition-duration: 0.4s;
}

.full {
    width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #002147;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 0px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
  color: white;
  font-size: 2em;
  font-weight: 600;
  line-height: 38px;
  padding: 40px 0 10px;
  font-family: cursive;
  font-weight: lighter
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
  padding: 0 0 12px 0;
  display: block;
}
.footer a {
  color: white;
  font-weight: lighter;
}

.footer p {
  color: white;
  font-weight: lighter;
  font-size: 
}

.footer a:hover {
  text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}

}
.footer a {
  color: #78828D
}

.footer-bottom {
  margin-top: 2em;
  border-top: 1px solid #DDDDDD;
  padding-top: 20px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
  font-size: 0.75em
}

.map-container-3{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-3 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.map-container-2{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.map-container-9,
.map-container-10,
.map-container-11 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-9 iframe,
.map-container-10 iframe,
.map-container-11 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media only screen and (max-width: 769px){
  .navbar-header a{
   text-align: center;
   margin-right: 5%;
  }
}

a{
  -webkit-transition: transform .3s ease-in-out;
}
li>a:hover{
  transform: scale(1.05);
  -webkit-transition: transform .3s ease-in-out;
}

#timedate {
  font: small-caps lighter 35px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, bold;
  text-align:left;
  color:#fff;
  border-left: 3px solid #2F4F4F;
  padding: 20px;
  background-color: #A9A9A9;
}

#timedate a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

}

#h,#m,#s{
  font-weight: 700;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

@import url(https://fonts.googleapis.com/css?family=Muli:400, 300);

#timedate{
  margin-top: 10px;
  margin-bottom: 10px;
}

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #87b633;
    border: 1px solid #dcdcdc;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #87b633;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #87b633;
}